## Intro to Python for Data Analysis

### Break out session 1

In this breakout session, you will explore some loan data from the Consumer Financial Protection Bureau (www.consumerfinance.gov). This dataset is based on a query that contains 
loan data from 2012 for the state of Vermont.

### Examine the data

Import libraries.

Read in the loans csv file.

View the first few rows.

How many rows and columns are there in the dataset?

Get the first five rows of the applicant income column by slicing.

In [ ]:
Get the first five rows of the agency_abbr column using positional indexing.

Sort the data by loan amount in descending order and return the first five rows of the resulting dataframe.

Get the value counts of action_taken_name column.

Return a boolean value for the preapproval_name column that returns True if preapproval was requested. Display the first four rows.

Get a subset of the data where applicant income is greater than 0 and less than 1000 (use regular subsetting).

Subset the dataframe created in the previous cell to only display applicant income and agency code and display first three rows.

Get a subset of the data where applicant income is greater than 0 and less than 1000. Use the query method. Display the applicant income and loan
amount columns and just the first three rows of data.

### Groupby and filtering

Groupby applicant race and loan purpose name and return the mean values.

Filter the dataset to return only rows containing NCUA in the agency_abbr column.

Group by purchaser type name and get the median values using the aggregate method.

### Visualizations

Create a simple bar plot with loan purpose on the x-axis and loan amount on the y-axis with Seaborn.

Create a simple boxplot with loan amount on the x-axis and agency name on the y-axis with Seaborn. Make the loan amount log scale in the plot.

Create a violin plot with loan amount on the x-axis and loan purpose name on the y-axis with Seaborn.

Display all column names.

Show unique values for action taken name column.